<section>
    <div class="grid grid-cols-6 pt-[42px] content-center px-[20px]">
        <div class="flex col-start-3 col-end-5 justify-center">
            <span class="pl-[4px] text-[#141819] font-semibold text-[16px]">Archive</span>
        </div>
        <div class="flex col-end-8 col-span-2 justify-end mt-[2px]">
            <a aria-label="Canary Settings" rel="noopener" href="/" title="Settings"
                class="cursor-pointer flex items-center">
                <svg width="15" height="14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M7.19.06a.858.858 0 0 0-.403.387c-.067.129-.07.25-.07 2.954V6.22H3.898c-2.702 0-2.824.002-2.954.069a.793.793 0 0 0 0 1.424c.13.067.252.07 2.954.07h2.82v2.819c0 2.703.002 2.825.069 2.954a.793.793 0 0 0 1.424 0c.067-.13.07-.251.07-2.954v-2.82H11.1c2.702 0 2.824-.002 2.953-.069a.793.793 0 0 0 0-1.424c-.129-.067-.25-.07-2.954-.07H8.28V3.4C8.28.699 8.278.577 8.211.448 8.018.07 7.563-.101 7.19.06Z"
                        fill="#FEC244" />
                </svg>
                <span class="ml-[5px] text-[#FEC244]">
                    New
                </span>
            </a>
        </div>
    </div>
    <div class="mt-[20px] flex justify-between items-center px-[20px]">
        <div class="flex items-center">
            <span>
                <svg width="15" height="19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0 1.607v15.336c0 1.12 1.358 1.675 2.142.876l5.894-6 4.762 5.594c.754.886 2.202.353 2.202-.81V1.607C15 .72 14.28 0 13.393 0H1.607C.72 0 0 .72 0 1.607Z"
                        fill="#FEC244" />
                    <path
                        d="M8.584 11.351a.72.72 0 0 0-1.062-.037l-5.894 6a.53.53 0 0 1-.908-.37V1.606c0-.49.397-.887.887-.887h11.786c.49 0 .887.397.887.887v14.996a.53.53 0 0 1-.934.343l-4.762-5.595Z"
                        stroke="#141819" stroke-opacity=".2" stroke-width="1.44" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </span>
            <span class="ml-[8px] font-semibold text-[14px] leading-[16px]">
                Archives lets you save your tweets privately
            </span>
        </div>
        <a class="cursor-pointer">
            <svg width="16" height="16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#a)">
                  <path d="M16 0H0v16h16V0Z" fill="#fff" fill-opacity=".01"/>
                  <path d="m2.666 2.668 10.667 10.667M2.666 13.335 13.333 2.668" stroke="#141819" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                  <clipPath id="a">
                    <path fill="#fff" d="M0 0h16v16H0z"/>
                  </clipPath>
                </defs>
              </svg>
        </a>
    </div>
    <div class="mt-[10px] font-normal text-[14px] leading-[15px] px-[20px]">
        Make the archives your own by saving unlimited number of tweets in multiple groups — we won't know anything
    </div>
    <div class="mt-[30px] mb-[20px] border-b-[1px] border-[#14181980]"></div>
    <div class="px-[20px] grid grid-cols-5 gap-6 justify-items-center">
        <div class="card-one">
            <div class="content-position px-[15px]">
                <div class="text-[30px] font-semibold leading-[38px]">
                    Super Private Archive
                </div>
                <div class="font-semibold text-[16px] leading-[20px] mt-[12px]">48 tweets</div>
            </div>
        </div>
        <div class="card-two">
            <div class="content-position px-[15px]">
                <div class="text-[30px] font-semibold leading-[38px]">
                    Super Private Archive
                </div>
                <div class="font-semibold text-[16px] leading-[20px] mt-[12px]">48 tweets</div>
            </div>
        </div>
        <div class="card-three">
            <div class="content-position px-[15px]">
                <div class="text-[30px] font-semibold leading-[38px]">
                    Super Private Archive
                </div>
                <div class="font-semibold text-[16px] leading-[20px] mt-[12px]">48 tweets</div>
            </div>
        </div>
        <div class="card-four">
            <div class="content-position px-[15px]">
                <div class="text-[30px] font-semibold leading-[38px]">
                    Super Private Archive
                </div>
                <div class="font-semibold text-[16px] leading-[20px] mt-[12px]">48 tweets</div>
            </div>
        </div>
        <div class="card-five">
            <div class="content-position px-[15px]">
                <div class="text-[30px] font-semibold leading-[38px]">
                    Super Private Archive
                </div>
                <div class="font-semibold text-[16px] leading-[20px] mt-[12px]">48 tweets</div>
            </div>
        </div>
    </div>
    
</section>