<div class="px-[20px]">
    <div class="mt-[20px] font-bold text-[40px]">Settings</div>
    <a class="flex p-[20px] rounded-[8px] border-[1px] border-[#14181933] cursor-pointer mt-[20px]">
        <div>
            <div>
                Personalize your feed
            </div>
            <div>
                Choose what you see rfom categories, verified users etc.
            </div>
        </div>
        <div>

        </div>
    </a>
    <a class="flex p-[20px] rounded-[8px] border-[1px] border-[#14181933] cursor-pointer my-[20px]">
        <div>
            <div>
                Backup your data
            </div>
            <div>
                Save your preferences, lists and archives.
            </div>
        </div>
        <div>
            
        </div>
    </a>
    <a class="flex p-[20px] rounded-[8px] border-[1px] border-[#14181933] cursor-pointer">
        <div>
            <div>
                Restore your data
            </div>
            <div>
                Restore data using URL
            </div>
        </div>
        <div>
            
        </div>
    </a>
    <button class="p-[20px] rounded-[8px] border-[1px] border-[#FF6363] mt-[20px] text-center text-[#FF6363] w-full ">
        Clear all Data
    </button>
</div>
