<div class="flex justify-between">
    <div class="text-center ml-[20px]">
        <svg width="13" height="24" viewBox="0 0 13 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.8672 2L2.00069 12L10.8672 22" stroke="#FEC244" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
            
    </div>
    <div class="text-center ml-auto text-[#141819] text-[16px] font-bold">
        Super Private List
    </div>
    <div class="ml-auto text-[#FEC244] text-[16px] font-bold">
        Edit
    </div>
</div>
<app-tweet-card></app-tweet-card>