
<!-- Empty -->
<div class="mt-[200px] text-center flex justify-center items-center">
    <div class="text-center">
        <div class="mb-[15px]">
            <svg width="124" height="124" viewBox="0 0 124 124" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="124" height="124" rx="7.75" fill="#FED05B" fill-opacity="0.5" />
                <rect x="23.25" y="23.25" width="15.5" height="15.5" rx="3.875" fill="white" />
                <rect x="54.25" y="26.3535" width="46.5" height="9.3" rx="4.65" fill="white" />
                <rect x="23.25" y="54.25" width="15.5" height="15.5" rx="3.875" fill="white" />
                <rect x="54.25" y="57.3535" width="46.5" height="9.3" rx="4.65" fill="white" />
                <rect x="23.25" y="85.25" width="15.5" height="15.5" rx="3.875" fill="white" />
                <rect x="54.25" y="88.3535" width="46.5" height="9.3" rx="4.65" fill="white" />
            </svg>
        </div>
    </div>
</div>
<div class="text-center flex justify-center items-center">
    <div>
        <div class="text-center">
            <div>Stay up-to-date on the favorite topics<br/> by users you love, without being tracked 😉</div>
        </div>
        <button class="bg-[#FEC244] px-20 py-[5px] rounded-full mt-[20px] cursor-p">
            + Create a new List
        </button>
    </div>
</div>