.search-border{
    border-right: 1px solid rgba(20, 24, 25, 0.2);
    border-left: 1px solid rgba(20, 24, 25, 0.2);
}
.content{
    padding-left: 20px;
    padding-right: 20px;
}
.layout-style{
    padding-left: 100px;
    padding-right: 100px;
}