<!-- <app-super-private-list></app-super-private-list> -->
<!-- <app-empty-list></app-empty-list> -->
<!-- <app-threads></app-threads> -->
 <div class="ml-[20px]">
    <div class="flex justify-between">
        <div class="text-center ml-auto text-[#141819] text-[16px] font-bold">
            Lists
        </div>
        <div class="ml-auto text-[#FEC244] text-[16px] font-bold">
            + New
        </div>
    </div>
    
    <div class="flex justify-between mt-[40px]">
        <div class="flex items-center">
            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="18" height="18" rx="1.125" fill="#FEC244"/>
                <rect x="3.375" y="3.375" width="2.25" height="2.25" rx="0.5625" fill="white"/>
                <rect x="7.875" y="3.82617" width="6.75" height="1.35" rx="0.675" fill="white"/>
                <rect x="3.375" y="7.875" width="2.25" height="2.25" rx="0.5625" fill="white"/>
                <rect x="7.875" y="8.32617" width="6.75" height="1.35" rx="0.675" fill="white"/>
                <rect x="3.375" y="12.375" width="2.25" height="2.25" rx="0.5625" fill="white"/>
                <rect x="7.875" y="12.8262" width="6.75" height="1.35" rx="0.675" fill="white"/>
            </svg>
            <span class="ml-[10px]">How is our Lists different from Twitter’s?</span>
        </div>
        <div>
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_1038_11841)">
                <path d="M16 0H0V16H16V0Z" fill="white" fill-opacity="0.01"/>
                <path d="M2.66602 2.66797L13.3327 13.3346" stroke="#141819" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M2.66602 13.3346L13.3327 2.66797" stroke="#141819" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_1038_11841">
                <rect width="16" height="16" fill="white"/>
                </clipPath>
                </defs>
            </svg>
        </div>
    </div>

    <p class="text-12 my-[20px]">This is a version of Lists which doesn’t track any of your data, and keeps your information to yourself</p>

    <div class="border"></div>
    <div class="mt-[20px]">
        <div class="flex items-center">
            <div>
                <img
                    class="rounded-[50%]"
                    width="40px"
                    height="40px"
                    alt="Tweet image"
                    src='https://static.plgworks.com/assets/images/hp/tm/ds.png'
                />
            </div>
            <div class="pl-[8px]">
                <div class="text-[14px] text-[#141819] font-semibold">Super Private List</div>
                <div class="flex items-center text-[#14181980] text-[12px] font-normal italic">
                    <div>includes</div>
                    <div> @iamjonsi,</div>
                    <div>@furara</div>
                    <div>& 22 others</div>
                </div>
            </div>
        </div>
    </div>
    <div class="border mt-[10px]"></div>


    <div class="mt-[20px]">
        <div class="flex items-center">
            <div>
                <img
                    class="rounded-[50%]"
                    width="40px"
                    height="40px"
                    alt="Tweet image"
                    src='https://static.plgworks.com/assets/images/hp/tm/ds.png'
                />
            </div>
            <div class="pl-[8px]">
                <div class="text-[14px] text-[#141819] font-semibold">Super Private List</div>
                <div class="flex items-center text-[#14181980] text-[12px] font-normal italic">
                    <div>includes</div>
                    <div> @iamjonsi,</div>
                    <div>@furara</div>
                    <div>& 22 others</div>
                </div>
            </div>
        </div>
    </div>
    <div class="border mt-[10px]"></div>
</div> 