<div class="mt-[20px]">
    <div class="flex justify-between items-center">
        <span class="font-semibold text-[18px] leading-[23px] text-[#141819]">
            Trending {{location}}
        </span>
        <span class="text-[14px] font-normal leading-[17px] text-[#FEC244] cursor-pointer">
            Change Location
        </span>
    </div>
    <div class="mt-[20px] font-normal text-[14px] leading-[17px] text-[#141819] border-b-[1px] pb-[15px]">
        {{trending}}
    </div>
    <div class="mt-[20px] font-normal text-[14px] leading-[17px] text-[#141819] border-b-[1px] pb-[15px]">
        {{trending}}
    </div>
    <div class="mt-[20px] font-normal text-[14px] leading-[17px] text-[#141819] border-b-[1px] pb-[15px]">
        {{trending}}
    </div>
</div>
